// GLOBAL VARIABLES

$smooth-speed: 0.3s;  // for dark mode icon and color transition
$quick-speed: 0.2s;  // for buttons
$bold-font-weight: 900;
$normal-font-weight: 400;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-color: #2c3e50;
  --sharp-text-color: #000000;
  --active-text-color: #f1f0f0;
  --bg-color: #f1efec;
  --bg-color-faded: #f3f3f3d2;
  --accent-color: #e06d2a;
  --light-accent-color: #d3511a6c;
  // --light-accent-color: #eeb99b;
  --primary-color: #5b8bf3;
  --image-tint: 1.0;
  --light-image-tint: 110%;
}

:root.dark-mode {
  --text-color: #d9dee2;
  --sharp-text-color: var(--text-color);
  --bg-color: #212121;
  --bg-color-faded: #212121d2;
  --accent-color: #c45e24;
  --image-tint: 0.8;
  --light-image-tint: 0.9;
}

html {
  scroll-behavior: smooth;
}

body {
  transition: $smooth-speed;
  overflow-x: hidden;  // prevent mobile nav circles from causing scrollbar
  background: var(--bg-color);
  color: var(--text-color);
}

.container {
  width: 90%;
  margin: 0 auto;
  max-width: 1000px;
}

.container-thin {
  width: 70%;
  margin: 0 auto;
}

.sh_container {
  margin-top: 75px;
  margin-bottom: 40px;
}

.section-heading {
  font-size: 2.2rem;
  letter-spacing: 1px;
  position: relative;
  text-transform: uppercase;
  color: var(--text-color);
  // margin-block-start: 0.67em;
  // margin-block-end: 0.67em;
  // margin-inline-start: 0px;
  // margin-inline-end: 0px;
  // font-weight: bold;
}

.section-heading::after {
  content: '';
  position: absolute;
  background: var(--light-accent-color);
  height: 25px;
  width: 90%;
  top: 50%;
  z-index: -1;
}

@media (min-width: 1280px) {
  .container {
    width: 70%;
  }
  .container-thin {
    width: 70%;
  }
  .sh_container {
    margin-top: 175px;
    margin-bottom: 75px;
  }
  .section-heading {
    font-size: 2.7rem;
  }
}

.sh_left {
  text-align: left;
}

.sh_right {
  text-align: right;
}

.sh_center {
  text-align: center;
}

.sh_left .section-heading::after {
  left: 20%;
}

.sh_right .section-heading::after {
  right: 20%;
}

.sh_center .section-heading::after {
  left: 10%;
  width: 80%;
}

button {
  border: none;
  background: transparent;
  border-radius: 4px;
  padding: 1.25rem 1.75rem;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.1rem;
  text-decoration: none;
  cursor: pointer;
  margin: 45px 0;
  transition: $quick-speed;
}

.passive-cta {
  color: var(--primary-color);
  background-color: transparent;
  border: 1px solid var(--primary-color);
}

.passive-cta:hover {
  color: var(--active-text-color);
  border: 1px solid var(--accent-color);
  background-color: var(--accent-color);
}

.active-cta {
  color: var(--active-text-color);
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.active-cta:hover {
  color: var(--active-text-color);
  border: 1px solid var(--accent-color);
  background-color: var(--accent-color);
}

/* use css vars instead of scss vars for colors because:

// USING SCSS VARIABLE

body {
  $text-color: #2c3e50;
}

body {
  color: $text-color;  // error, undefined variable
}

// USING CSS VARIABLE

body {
  --text-color: #2c3e50;
}

body {
  color: var(--text-color);  // works fine
}

*/
